{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"><strong>팀 팔색조</strong></h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <!-- <thead class=" text-primary">
              <tr>
                <th>
                  이름
                </th>
                <th>
                  국가
                </th>
                <th>
                  도시
                </th>
                <th class="text-center">
                  한마디
                </th>
              </tr>
            </thead> -->
            <tbody>
              <!-- <tr>
                <td>
                  KyungJun Song
                </td>
                <td>
                  South Korea
                </td>
                <td>
                  Seoul
                </td>
                <td class="text-center">
                  감사합니다.
                </td>
              </tr>
              <tr>
                <td>
                  Jinsu Choi
                </td>
                <td>
                  South Korea
                </td>
                <td>
                  Seoul
                </td>
                <td class="text-center">
                  감사합니다.
                </td>
              </tr>
              <tr>
                <td>
                  Hayoung Byun
                </td>
                <td>
                  South Korea
                </td>
                <td>
                  Seoul
                </td>
                <td class="text-center">
                  감사합니다.
                </td>
              </tr>
              <tr>
                <td>
                  Anni Lee
                </td>
                <td>
                  South Korea
                </td>
                <td>
                  Kyunggido
                </td>
                <td class="text-center">
                  귀여운 고양이 애니
                </td>
              </tr> -->
              <img class="card-img-top" src="static/assets/img/teampalsekjo.png" alt="..." />
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  Salary
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-center">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-center">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-center">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-center">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-center">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
